@mixin button($border-color, $backgroundColor, $color) {
  border-color: $border-color;
  background: $backgroundColor;
  color: $color;
}

@mixin query($size) {
  @media only screen and (max-width: $size) { @content; }
}