/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 01-Nov-2019, 23:56:15
    Author     : Rammah
*/

$light-gray: #F5F5F5;
$white: #FFF;

$dark-blue: #35495E;
$darker-blue: #283747;
$dark-green: #347474;

$green: #42B883;
$orage: #FF7E67;