@import 'variables';
@import 'fonts';
@import 'mixins';

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'monserrat-bold';
  color: $dark-blue;
}

a, p, input {
  font-family: 'monserrat';
  font-size: 14px;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1300px;
  margin: auto;
}
input {
  outline-style: none;
}

.button {
  border: 2px solid;
  @include button($dark-blue, $dark-blue);
  padding: 12px 20px !important;
  border-radius: 5px;
  background: transparent;
  width: initial !important;
  cursor: pointer;
  
  &:hover {
    background: $dark-blue;
    color: white !important;
  }
}

.altLink {
  color: $dark-blue;
  
  &:hover {
    color: lighten($dark-blue, 5%);
  }
}

.button, .altLink, a {
  transition: .2s;
}

// ========================== NAVIGATION STYLING
#mainNav {
  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  img {
    width: 102px;
  }
  
  a {
    display: inline-block;
    padding: 20px;
    color: $dark-blue;
  }
}

// ========================== HEADER STYLING
#header {
  position: relative;
  width: 100%;
  height: 746px;
  overflow: hidden;
  
  .header-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .slogan {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    
    .icon-image {
      width: 120px;
    }
    
    .line-one {
      margin: 0;
      font-size: 3.5em;
      
      .glp-green {
        color: $green;
      }
    }
    
    .sub-line {
      font-size: 1.5em;
      
      .borderBottom {
        border: 1.5px solid $dark-blue;
        width: 82px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

// ========================== SIGN IN FORM STYLING
.form-wrapper {
  width: 980px;
  margin: 70px auto 200px;
  
  h1 {
    margin: 0px 0 20px;
    padding: 10px 0;
    border-bottom: 3px solid transparentize($dark-blue, .8);
  }
  
  .two-in-a-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .three-in-a-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
   
  .inputField {
    margin-bottom: 15px;
    
    input, select {
      padding: 7px;
      width: calc(100% - 18px);
      margin-top: 5px;
      border-radius: 5px;
      border: 2px solid #35495E;
      outline-style: none;
    }
    
    select {
      width: 100%;
    }
    
    .file {
      border: none;
      padding: 0;
    }
    
    .button {
      @extend .button;
      margin-right: 10px;
    }
  }
}

.login {
  margin-top: 0px;
  width: 700px;

  .logoImg {
    text-align: center;
  }
  img {
    width: 200px;
    margin: 50px auto;
  }
}

.add-flight {
  margin: 160px auto;
}

// ========================== FLIGHT INFO STYLING
$contentWidth: 970px;

.latest-flight {
  width: $contentWidth;
  margin: 50px auto;
  
  .flight-wrapper {
    background: $light-gray;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    .departure-arrival {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      
      .info {
        width: 370px;
        padding: 5px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        
        .flight-time, .duration {
          display: flex;
          align-items: center;
        }
        
        .duration {
          font-size: .8em;
        }
        
        .flight-time {
          display: block;
          font-size: 1.2em;
          font-weight: 900;
        }
        
        .flight-location {
          font-size: 0.8em;
        }
      }
    }
    
    .price {
      display: flex;
      align-items: center;
      justify-content: center;
      
      font-size: 2em;
    }
  }
  
  .actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    div .button{
     margin: 0px 4px;
      
      &:nth-child(1){ margin-left: 0px; }
      &:nth-child(2) { margin-left: 30px; }
    }
    
    .altLink {
      font-size: .8em;
    }
  }
}

// ========================== USERS PART STYLING
.users {
  width: $contentWidth;
  margin: 100px auto 200px;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  
  .user-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 350px;
    
    .user-info {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      text-align: center;
    }
    
    .numbers {
      font-size: 1.3em;
      font-weight: 900;
      color: $dark-blue;
    }
    
    .words {
      margin-bottom: 15px;
      font-size: .9em;
      opacity: .8;
    }
  }
}

// ========================== FOOTER STYLING
footer {
  background: $dark-blue;
  
  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 30px 20px;
    align-items: center;
    
    img {
      width: 140px;
    }
    
    #footerNav {
      
      a {
        display: inline-block;
        padding: 20px;
        color: white;
      }
    }
  }
  
  .copyright {
    padding: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
    background: $darker-blue;
  }
}