/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 30-Oct-2019, 15:17:11
    Author     : Rammah
*/

$dark-blue: #35495E;
$darker-blue: #283747;
$lighter-blue: #347474;

$correct: #42B883;
$error: #FF7E67;

$light-grey: #F5F5F5;
$white: #FFFFFF;